extends layout

block content
      main.main-content
        .fullwidth-block.download
          .container
            .row
              .col-md-5
                h2.page-title Our Music
                .item
                  h3.item-title Skinny Jay | Touch your toes
                  center
                  span.year 2016
                  figure
                    img(width='100%', src='images/jesse-jagz.jpg', alt='tickets 1')
                  br
                  audio(src='music/final_baba_nla.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/final_baba_nla.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Kacey Swish | In da' hood
                  span.year 2017
                  figure
                    img(width='100%', src='images/ice-prince.jpg', alt='tickets 1')
                  br
                  audio(src='music/2am_in_chevron.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/2am_in_chevron.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Lil Barry | Click clack tick tock
                  span.year 2016
                  figure
                    img(width='100%', src='images/tu-face.jpg', alt='tickets 1')
                  br
                  audio(src='music/firstclass_freestyle.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/firstclass_freestyle.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Skinny Jay ft. Lil Barry | Pray (Ziggy Zagga cover)
                  span.year 2016
                  figure
                    img(width='100%', src='images/ice-prince_2.jpg', alt='tickets 1')
                  br
                  audio(src='music/me_vs_me.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/me_vs_me.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
              .col-md-5.col-md-push-2
                h2.page-title Cover
                .item
                  h3.item-title Ziggy Zagga ft. Kacey Swish | Hood dreams
                  span.year 2016
                  figure
                    img(width='100%', src='images/solid-star.jpg', alt='tickets 1')
                  br
                  audio(src='music/money_is_relevant.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/money_is_relevant.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Ziggy Zagga, Kacey Swish, Skinny Jay and Lil Barry | #{company} Theme Song
                  span.year 2017
                  figure
                    img(width='100%', src='images/jesse-jagz.jpg', alt='tickets 1')
                  br
                  audio(src='music/run_with_you.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/run_with_you.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Kacey Swish ft. Ziggy Zagga | Skywalker tunes
                  span.year 2016
                  figure
                    img(width='100%', src='images/ice-prince.jpg', alt='tickets 1')
                  br
                  audio(src='music/shabba.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/shabba.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
                .item
                  h3.item-title Ziggy Zagga | Vibe to it
                  span.year 2017
                  figure
                    img(width='100%', src='images/tu-face.jpg', alt='tickets 1')
                  br
                  audio(src='music/for_whom_the_bell_tolls.mp3', preload='none')
                  br
                  a.button.small.primary(href='music/for_whom_the_bell_tolls.mp3') Download

                  .social-share
                    span Share:
                    a(href=facebookShare + shareLink)
                      i.fa.fa-facebook
                    a(href=twitterShare + shareLink)
                      i.fa.fa-twitter
                    a(href=googleShare + shareLink)
                      i.fa.fa-google-plus
